$black : #000;
$white : #fff;
$aqua: #00b0ff;
$helvetica: 'Helvetica', sans-serif;
$helveticaBold: 'HelveticaBold', sans-serif;
$ralewayBold: 'RalewayBold', sans-serif;
$raleway: 'Raleway', sans-serif;
$mont: 'Montserrat', sans-serif;
$montBold: 'MontserratBold', sans-serif;
$playFair: 'PlayFair', sans-serif;
$robotoCond: 'RobotoCondensed', sans-serif;
