.our-team {
  padding-bottom: 200px;

  @include phones {
    padding-bottom: 50px;
  }
}

.our-team__slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 0;
  z-index: 20;
  padding: 0 50px;
}

.our-team__slider-item {
  min-height: 278px;
  padding: 27px 55px;
  text-align: center;
  background-color: rgba(0, 102, 239, 0.1);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  transition: 0.3s;

  @include tablets {
    padding: 27px 20px;
  }

  @include small-phones {
    padding: 27px 15px;
  }

  &:hover {
    background-color: $aqua;
    transition: 0.3s;

    .our-team__slider-img {
      transform: scale(1.1);
      transition: 0.3s;
    }

    .our-team__slider-name {
      color: $white;
    }

    .our-team__slider-email {
      color: $white;
    }

    .our-team__slider-city {
      color: $white;
    }

    .our-team__slider-city {
      &:after {
        background: url("../img/Waves-blue.png") no-repeat;
      }
    }
  }
}

.our-team__slider-img {
  margin-bottom: 15px;
  transition: 0.3s;
}

.our-team__slider-name {
  margin-bottom: 5px;
  font-size: rem(18px);
  font-family: $mont;
  color: $aqua;
}

.our-team__slider-email {
  font-size: rem(14px);
  font-family: $raleway;
  color: $gray;
  margin-bottom: 30px;
}

.our-team__slider-city {
  position: relative;
  padding-left: 15px;
  background: url("../img/Pin_icon.png") no-repeat;
  background-position: 0;
  display: inline-block;

  &:after {
    position: absolute;
    content: '';
    top: -19px;
    right: 40%;
    width: 31px;
    height: 6px;
    background: url("../img/Waves.png") no-repeat;
  }
}