.promo {
  position: relative;
  margin-bottom: 50px;
}

//.promo__large-title {
//  transform: translateY(55px);
//
//  @media (max-width: 650px) {
//    transform: translateY(17px);
//  }
//}

.row-promo {
  justify-content: center;
}

.promo__title-h2 {
  font-family: $playFair;
  font-size: 50px;
  margin-bottom: 20px;
  text-align: center;
}

.promo__sub-title-h4 {
  font-family: $playFair;
  font-size: 24px;
  color: $white;
  font-weight: 300;
  text-align: center;
}

.row-title {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}