.tabs {
  border-bottom: 1px solid rgba(0,0,0, 0.15);
  padding: 0 0 8px 0;
}

.promo-slider__tabs {
  margin-bottom: 30px;
}

.promo-slider__tabs-catalog {
  display: none;
}

.promo-slider___tab {
  font-family: $ralewayBold;
  font-size: rem(14px);
  text-transform: uppercase;
  margin-right: 30px;
  color: #a0a0a0;
}

.promo-slider__tab--active {
  position: relative;
  color: $black;

  &:after {
    position: absolute;
    content: '';
    bottom: -8px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: $aqua;
  }
}

.promo-slider__tabs-item {
  font-size: 16px;
  font-family: $raleway;
  color: #787878;

}

.promo-slider__tabs-item-desc {
  margin-bottom: 40px;
}

.promo-slider__tabs-item-price-block {
  margin-bottom: 58px;
}

.promo-slider__tabs-dollars {
  margin-right: 30px;
  font-size: 24px;
  font-family: $montBold;
  color: $black;
}

.promo-slider__tabs-item-link {
  position: relative;
  color: #00b0ff;
  font-family: $montBold;
  font-size: rem(14px);

  &:after {
    position: absolute;
    content: '';
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #00b0ff;
  }
}
